:root {
  --e-1k-eg-2: rgba(255, 255, 255, 1);
  --xlew-g2: rgba(33, 33, 33, 1);
  --q-akh-mi: rgba(98, 32, 217, 1);
  --nt-6-rt-z: rgba(185, 233, 1, 1);
  --qfg-w0s: rgba(250, 65, 1, 1);
  --o-hz-kr-s: rgba(244, 244, 244, 1);
  --variable-collection-1: rgba(249, 250, 245, 1);
  --variable-collection: rgba(98, 32, 217, 1);
}
