:root {
  --bww-m38: rgba(255, 255, 255, 1);
  --t727-0e: rgba(33, 33, 33, 1);
  --x-2-yub-tb: rgba(98, 32, 217, 1);
  --ys-vr-t8: rgba(185, 233, 1, 1);
  --zo-v-ks-m: rgba(250, 65, 1, 1);
  --gq-3i9j: rgba(244, 244, 244, 1);
  --variable-collection-1: rgba(249, 250, 245, 1);
  --variable-collection: rgba(98, 32, 217, 1);
}